
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>/Admin/Products/Index</h2>

        @Html.ActionLink("/Admin/Home/Index", "Index", "Home")<br />

        @Html.ActionLink("/Admin/Products/Create", "Create", "Products")<br />
        @Html.ActionLink("/Admin/Products/Delete", "Delete", "Products")
    </div>
</body>
</html>
