
@model IEnumerable<L05_HtmlHelperMethods.Models.ProductDetails>

@{
    ViewBag.Title = "WebGrid";

    var grid = new WebGrid(source: Model, rowsPerPage: 10);
}

@section styles
{
    <link href="~/Content/GridStyle.css" rel="stylesheet" />
}

<h2>WebGrid</h2>

@grid.GetHtml(tableStyle: "grid",
              headerStyle: "header",

              htmlAttributes: new { cellpadding = "12px", cellspacing = "0px" })