
@model L05_HomeWorkB.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
<fieldset>
    <legend>Login Form</legend>
    
    <div>
        <label>Логін:</label>
        @Html.TextBoxFor(m => m.Login)
    </div>
    <div>
        <label>Пароль:</label>
        @Html.TextBoxFor(m => m.Password)
    </div>

    <input type="submit" name="button" value="Ввійти" />
</fieldset>
}

Login: @ViewBag.Login<br />
Password: @ViewBag.Password
