@{
    ViewBag.Title = "Index";

    var options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("Json_OrdersData"),
        LoadingElementId = "loadingIndicator",
        OnSuccess = "ParseResponse"
    };
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm(options))
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Продукт</th>
                <th>Кількість</th>
                <th>Сума</th>
                <th>Дата замовлення</th>
            </tr>
        </thead>
        <tbody id="tabledata">
            @Html.Action("OrdersData", new { id = Model })
        </tbody>
    </table>

    <p>
        @* How to create SelectList of Products? *@
        @Html.DropDownList("id", new SelectList(new[] { "All", "Продукт 1", "Продукт 2", "Продукт 3" }, (Model ?? "All")))
        <input type="submit" value="Фільтрувати" class="btn-primary" /> <img id="loadingIndicator" height="100" style="display:none;" src="@Url.Content("~/Content/spinner-icon-gif-9.gif")" alt="Alternate Text" />
    </p>
}

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">
        function ParseResponse(data) {

            var target = $("#tabledata");
            target.empty();

            for (var i = 0; i < data.length; i++) {
                target.append("<tr><td>" + data[i].Product + "</td><td>"
                    + data[i].Quantity + "</td><td>"
                    + data[i].Sum + "</td><td>"
                    + data[i].OrderDate + "</td></tr>");
            }
        }
    </script>
}