
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Add", "Add", "Calc", new { x = 10, y = 20 }, null)<br/>
        @Html.ActionLink("Multiply", "Mul", "Calc", new { x = 5, y = 5 }, null)<br/>
        @Html.ActionLink("Subtract", "Sub", "Calc", new { x = 10, y = 3 }, null)<br/>
        @Html.ActionLink("Divide", "Div", "Calc", new { x = 10, y = 2 }, null)
    </div>
</body>
</html>
