
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h2>/Home/About View</h2>

        @Html.ActionLink("/Home/Index", "Index", "Home")<br />
        @Html.ActionLink("/Home/Contacts", "Contacts", "Home")
    </div>
</body>
</html>
